/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "config";

body {
  background-color: lighten($secondary-color, 40%);
  font-family: $font-stack;
}

main {
  padding: 0 10%;
}

ul {
  list-style-type: none;
}

h6 {
  display: none;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 100%;
  

  div {
    background-color: $third-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  2% 0;
  }

  ul {
    display: flex;
    justify-content: center;
    font-size: 1.5em;

    i {
      color: $secondary-color;
    }
    li {
      padding: 10%;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: $third-color;

  .nav-left {
    margin-top: 4px;
    li {
      i {
        margin: auto 1%;
      }
      span {
        margin: auto 10px;
      }
    }
  }

  a {
    color: $secondary-color;
    font-weight: 600;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    background-color: $third-color;
    align-items: center;
    margin: 0;

    li {
      margin: auto 1em;
      display: flex;
      align-items: center;
      padding: 5px;


      img {
        max-width: 50px;
        border-radius: 50%;
        border: 1px solid $secondary-color;
      }
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $principal-color;
  color: lighten($secondary-color, 40%);
  position: relative;
  padding: 1.5em 0;

  &::after {
    content: "\f1b0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    color: rgba($third-color, 0.3);
    top: 50px;
    left: 130px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1em;
    margin: 1em;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  select {
    height: 36px;
    color: $secondary-color;
  }

  .search {
    background-color: $third-color;
  }

  input {
    height: 36px;
    text-align: center;
  }
} // end of the form

.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7px;

  a {

    i {
      font-size: 2em;
      color: $secondary-color;
    }

    span {
      color: $principal-color;
    }
  }
} // end of .donation

.adds-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  color: $secondary-color;
  background-color: lighten($secondary-color, 70%);
  margin: auto 1%;

  h4 {
    color: $principal-color;
    padding-bottom: 0.5em;
    font-size: 2em;
  }

  

  .buttons {
    margin: 1em auto;
  }

  .img-adds {
    position: relative;
    margin: 2%;

    h3 {
      margin: 9% auto;
    }

    img {
     width: 200px;
    }

    .icons-image {
      position: absolute;
      margin: 0;
      right: 0;
      bottom: 0;
      background-color: $third-color;

      i {
        color: $principal-color;
        font-size: 1em;
        display: inline-flex;
        justify-content: center;
      }
    }
  }
} // end adds-container

.fas-l {
  background-color: lighten($secondary-color, 37%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: $principal-color;
  margin: 1%;

  &:hover {
    transform: scale(1.5);
    border: 2px solid $secondary-color;
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;


  p {
    color: $secondary-color;
    

    a {
      padding: 0;
      margin: 0;
      color: $principal-color;
      font-weight: 600;
    }
  }
} // end of .middle

.dogs-cats {
margin: 1em 2%;

.fas-m {
  color: $principal-color;
  font-size: 1.2em;
  &:hover {
    transform: scale(1.5);
  }
}

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .item {
    background-color: lighten($secondary-color, 70%);
    padding: 1em;
    border: 2px solid lighten($secondary-color, 30%);
    border-radius: 5px;
    margin: 3%;

    a {
      padding: 1%;
    }

    p {
      padding: 2%;
    }

    img {
      width: 100%;
    

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    &:first-child {
      a {
        color:$third-color;
      }
    }
  }
}
.puppies {
  color:$third-color;
}

@import "buttons";
@import "medium";
@import "small";
