/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "config";

body {
  background-color: lighten($secondary-color, 40%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: $third-color;

  .nav-left {
    margin-top: 4px;
  }

  a {
    color: $secondary-color;
    font-weight: 600;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    background-color: $third-color;
    align-items: center;
    margin: 0;

    li {
      margin: auto 1rem;
      display: flex;
      align-items: center;
      padding: 5px;

      &:hover {
        border: 2px solid lighten($third-color, 40%);
        border-radius: 10px;
      }

      i,
      img {
        margin: auto 0.5em;
      }

      img {
        max-width: 50px;
        border-radius: 50%;
        border: 1px solid $secondary-color;
      }
    }
  }
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $principal-color;
  padding: 3rem;
  color: lighten($secondary-color, 40%);
  position: relative;

  &::after {
    content: "\f1b0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    color: rgba($third-color, 0.3);
    top: 50px;
    left: 130px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1em;
    margin: 1em;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  select {
    height: 36px;
    color: $secondary-color;
    padding: 0 1em;
  }

  input {
    height: 36px;

    &::placeholder {
      text-align: center;
    }
  }
} // end of the form

.adds-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  color: $secondary-color;
  background-color: lighten($secondary-color, 70%);

  h4 {
    color: $principal-color;
    padding-bottom: 0.5em;
    font-size: 2em;
  }

  

  h3 {
    padding: 0.5em;
  }

  div {
    margin: 2em;
  }

  .buttons{
    margin: 1em auto;
  }
  .img-adds {
    position: relative;
    img {
    width: 200px;
    margin: 0 0.5em;
  } 
    .icons-image {
      position: absolute;
      margin: 0;
      right: 0;
      bottom: 0;
      background-color: $third-color;
      
       i {
         margin: 0 0.5em;
         color: $principal-color;
         font-size: 1em;
         display: inline-flex;
         justify-content: center;
       }
    }
  }
 

} // end adds-container

.fas-l {
  background-color: lighten($secondary-color, 37%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $principal-color;

  
&:hover {
  transform: scale(1.5);
  border: 2px solid $secondary-color;
}
      
}

.dogs-cats {
    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
        div {
          margin: 1em;
        }
    }

    .item {
      background-color: lighten($secondary-color, 70%);
      padding: 1em;
      border: 2px solid lighten($secondary-color, 30%);
      border-radius: 5px;
      a {
        margin: 0;
        padding: 0;
        
      }
      img {
        width: 100%;
        height: 200px;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-left: 1em;
  }
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 1em;
    margin: auto 1em;
  }

  p {
    color: $secondary-color;
    margin-top: 1em;
    a {
      padding: 0;
      margin: 0;
      color: $principal-color;
      font-weight: 600;
    }
  }
} // end of .middle

.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  a {
    margin: 0;
    padding: 0;
    i{
      font-size: 2em;
      color: $secondary-color;
    }
    span {
      color: $principal-color;
    }
  }
}

@import "buttons";
@import "mobile";
@import "tablet";
