/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #383838;
}

nav .nav-left {
  margin-top: 4px;
}

nav a {
  text-decoration: none;
  color: #888;
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #383838;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: auto 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}

nav ul li:hover {
  border: 2px solid #9e9e9e;
  border-radius: 10px;
}

nav ul li i,
nav ul li img {
  margin: auto 0.5em;
}

nav ul li img {
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid #888;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d35266;
  padding: 3rem;
  color: #eee;
  position: relative;
}

.principal::after {
  content: "\f1b0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 150px;
  color: rgba(56, 56, 56, 0.3);
  top: 50px;
  left: 130px;
}

.principal h1 {
  font-size: 3em;
  margin-bottom: 0;
}

.principal h4 {
  font-size: 1em;
  margin: 1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form select {
  height: 36px;
  color: #888;
  padding: 0 1em;
}

form input {
  height: 36px;
}

form input::-webkit-input-placeholder {
  text-align: center;
}

form input:-ms-input-placeholder {
  text-align: center;
}

form input::-ms-input-placeholder {
  text-align: center;
}

form input::placeholder {
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 25px;
  margin: 3px;
  background-color: #d35266;
  color: #d5d5d5;
}

button:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

@media screen and (max-width: 767px) {
  .nav-right {
    display: none;
  }

  .nav-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .nav-left ul li {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: start;
  }

  form input {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .nav-right {
    display: none;
  }
}
